@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

:root{
  --primary: #1f2e88 ;
  --secondary: #2f66d4 ;
  --hover: #a2d9f5;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --border:.2rem solid rgba(0,0,0,0.1);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: 0.2s linear;
}

html{
  font-size: 62.2%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 5rem;
}

/* global classes */
/*temp end*/

section{
  padding: 5rem 7%;
}

.heading{
  font-size: 4rem;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 7rem;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: .5rem;
  background: var(--primary);
  font-size: 1.7rem;
  color: var(--white);
  cursor: pointer;
}

.btn:hover{
  background: var(--secondary);
}

/* header */
.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*top:0;*/
  left: 0;
  right: 0;
  padding: 2rem 9%;
  background: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
  height:100px;
 
}
.swiping h5{
display:none;
}


.logo img{
  color: var(--primary);
  padding-right: .5rem;
  height:53px;
  width:75px;
  margin-left:-7px;
  margin-bottom: -30px;
}
.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
 
}
.header .logo h5{
    margin-left:70px;
    font-size:1.8rem;  
   
}
.header .logo s{
  color: var(--primary);
  padding-right: 1.6rem;
  height:100px;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary);
}

.header .btn{
  margin-top: 0;
}

#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  margin-left: 1.7rem;
  display: none;
}

#menu-btn:hover{
  color: var(--primary);
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1002; /* Ensure it appears above the menu */
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 4px 0;
  transition: 0.4s;
}

/* Mobile menu styling */
/* Hamburger Icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1002; /* Ensure it appears above the menu */
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 4px 0;
  transition: 0.4s;
}

/* Mobile menu styling */
.mobile-menu {
display: none;
flex-direction: column;
list-style-type: none;
padding: 0;
background-color: #fff;
position: fixed;
top: 0;
right: 0;
width: 70%;
height: 100%;
border-left: 2px solid #e0e0e0;
box-shadow: -2px 0 5px rgba(0,0,0,0.2);
transform: translateX(100%);
transition: transform 0.3s ease-in-out;
z-index: 1001;
}

.mobile-menu.show-menu {
display: flex;  /* Flexbox to show the menu */
transform: translateX(0);
}

/* Close button styling */
.close-menu {
position: absolute;
top: 20px;
left: 20px;
font-size: 2rem;
cursor: pointer;
color: black;
}

.close-menu:hover {
color: #007bff;
}

.mobile-menu li {
text-align: center;
padding: 15px;
border-bottom: 1px solid #ddd;
}

.mobile-menu li a {
text-decoration: none;
color: black;
display: block;
font-size: 1.5rem;
}

.mobile-menu li a:hover {
background-color: #007bff;
color: white;
}

/* end header */
@media only screen and (max-width: 767px){
  .header .mobile-menu .close-menu {
    background-color:#ddd;
}

  .header .btn, .header #menu-btn {
    display: none;
  }
  .header .navbar {
    display: none;
  }

  .header .btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .header {
    height: 80px;
    padding: 2rem 6%;
  }
  #home{
     height:100%;

}
#about .row .image img{
  
 
  text-align: left;
  height:300px;
  width:350px;
 
}
#about .row .content {
 
  max-width: 100%;
}.swiping h5{
  display:flex;
  align-items: right;
  margin-left:250px;
  font-size: 1.6rem;
  margin-top:20px;
}


}


/* home */
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(lost21.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
  padding-top: 10rem;
  padding-left: 6rem; /*rtl*/
}

.home .content h3{
  font-size: 5rem;
  color: var(--black);
  line-height: 1.3;

}
.home .content p{
  line-height: 2;
  font-size: 1.6rem;
  color: var(--light-color);
  padding: 1rem 0;
}

/* end home */


/* about us */

.about .row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 0 0 30%;
  max-width: 30%;
  text-align: left;
 
}

.about .row .image img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  
}

.about .row .image h4 {
  font-size: 1.8rem;
  color: var(--black);
  margin-top: 1rem;
}

.about .row .content {
  flex: 1 1 65%;
  max-width: 65%;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 3.5rem;

  line-height: 1.5;
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

/* additional content below */
.about .additional-content {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  max-width: 100%;
}
.about .additional-content h4{
  font-size: 1.8rem;
  color: var(--black);
  margin-top: 1rem;

}
.about .additional-content p{
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}
.about .additional-content h1{
  color: var(--primary);
  font-size: 3.0rem;
  line-height: 1.5;
}
.about .additional-content h2{
  font-size: 2.5rem;
  color: var(--black);
  margin-top: 1rem;
}
.about .additional-content h5{
  font-size: 1.7rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;

}
.about .additional-content  h5 p{
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

/* end about */

/* services */
.services {
  background: var(--light-bg);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  padding: 4rem;
  text-align: center;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
}

.services .box-container .box:hover {
  background: var(--hover);
  cursor: pointer;
}

.services .box-container .box img {
  margin: 1rem 0;
  height: 17rem;
  border-radius: 5rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.services .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}

/* Service details sections */
 .stars {
  font-size: 2.0rem;
  color: gold; 
  margin: 0.5rem 0;
}
.service-details ul{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
  margin: 0.5rem 0;
  

}
.service-details img {
  display: block;
  margin: 1.5rem auto;
  max-width: 400px; 
  height: auto;
  border-radius: 5px; 
}

 .stars {
  font-size: 2.0rem;
  color: gold;
  margin-bottom: 1rem;
}
.service-details {
  padding: 2rem;
  margin-top: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.service-details h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.service-details p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}


/* end services section */

/* team section */
.team .slide{
  text-align: center;
}

.team .slide .image{
  position: relative;
  overflow: hidden;
}

.team .slide .image img{
  width: 100%;
}

.team .slide .image .share{
  padding: 2rem;
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
}

.team .slide:hover .image .share{
  bottom: 0;
}

.team .slide .image .share a{
  font-size: 3rem;
  margin: 0 1rem;
  color: var(--white);
  
}

.team .slide .image .share a:hover{
  color: var(--secondary);
}

.team .slide .content{
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.team .slide .content h3{
  font-size: 2rem;
  color: var(--black);
}

.team .slide .content span{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}

/* end team section */

/* pricing */
.pricing{
  background-color: var(--light-bg);
}

.pricing .box-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pricing .box-container .box{
  height: 46rem;
  width: 30rem;
  margin: 2rem 4rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  overflow: hidden;
  position: relative;
  background: var(--white);
  z-index: 1;
}

.pricing .box-container .active{
  background: var(--hover);
}

.pricing .box-container .box .title{
  margin: 3rem 0;
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
}

.pricing .box-container .box .price{
  color: var(--primary);
  margin-bottom: 5rem;
}

.pricing .box-container .box .price .currency{
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 300;
}

.pricing .box-container .box .price .amount{
  font-size: 5.8rem;
  line-height: 4.5rem;
  font-weight: 700;
}

.pricing .box-container .box .price .duration{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .2rem;
}

.pricing .box-container .box ul li{
  text-align: left;
  font-size: 1.6rem;
  padding-left: 3.5rem; 
  margin:2rem auto;
  color: var(--light-color);
  text-transform: uppercase;
}

.pricing .box-container .box ul li i{
  padding: 0 1rem;
  color: var(--secondary);
}
/* end pricing */


/* contact */
.location-container {
  width: 100%; 
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
  width: 100%; 
  height: 600px; 
  margin: 0 auto; 
  padding: 20px; 
}

.map iframe {
  width: 100%; 
  height: 100%;
  border: none; 
}

.location-container h2 {
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
}

.location-container p {
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
}

.location-container .map {
  margin-top: 15px;
}
/* end contact */

/* footer */
.footer{
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--secondary);
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
  padding: .5rem 0;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  background: var(--primary);
  color: var(--white);
  border-radius: 10%;
  line-height: 4.5rem;
  font-size: 1.7rem;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--secondary);
}

.footer .box-container .box .link{
  display: block;
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary);
  padding: .5rem 0;
}

.footer .box-container .box .link:hover{
  color: var(--hover);
}

.footer .credit{
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary);
  border-top: .1rem solid var(--secondary);
}

.footer .credit i{
  color: var(--hover);
}

.footer .credit span{
  color: var(--secondary);
}

/* end footer */
